@charset "utf-8";
/* COMMON */

:root {
    /* COLOR */
    --color_red: #ff0000;
    --color_white: #fff;
    --color_black: #000;

    /* FONT SIZE */
    --font_large:3rem;
    --font_medium:1.5rem;
    --font_small:1rem;
    --font_tiny:.8rem;

    /* FONT-WEIGHT */
    --font_bolder:500;
    --font_bold:400;
    --font-ligher:200;
    --font-thin:100;

}

html,
body {
    font-family: 'Azeret Mono', monospace;
}

section{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(var(--color_red) ,rgba(0,0,0,.1)),url(../img/black-brick-wall-textured-background.jpg) no-repeat center; 
    background-blend-mode: multiply;
}

section::before{
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 800px;
    height:800px;
    background:radial-gradient(rgba(255, 0, 0,.75),transparent, transparent);
    border-radius: 50%;
}
/* ICON */


.icon{
    width: 200px;
    height: 200px;
    z-index: 1;
    text-align: center;
}

.icon svg path {
    stroke : var(--color_white);
    stroke-width: 10px;
    fill:transparent;
    filter: drop-shadow(0 20px 10px var(--color_black)) blur(2px);
    
}